<h1>Crear Usuario</h1>
<form action="/user/create" method='post'>
    <label for="">
        Usuario
        <input type="text" name='username'>
    </label>
    <label for="">
        Correo
        <input type="text" name="email">
    </label>
    <label for="">
        Contraseña
        <input type="text" name ='password'>
    </label>
    <label for="">
        Nombre
        <input type="text" name = 'firstName'>
    </label>
    <label for="">
        Apellido
        <input type="text" name = 'lastName'> 
    </label>
    <label for="">
        Algo sobre ti
        <input type="text" name = 'description'>
    </label>
    <button type="submit">Crear</button>
</form>