<form 
action="/tvshow/create"
method="POST"
>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Crear un TV Show</legend>

        <div class="uk-margin">
            <input name= 'fieldN' class="uk-input" type="text" placeholder="Nombre" aria-label="Input">
        </div>

        <div class="uk-margin">
            <input name= 'arraySeason' class="uk-input" type="text" placeholder="Temporadas" aria-label="Input">
        </div>


        <div class="uk-margin">
            <select name="arrayIds" class="uk-select" aria-label="Select" multiple>
                <option>Elige uno o más</option>
                {{#each toons}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
				<button class="uk-button uk-button-primary">Texto</button>
    </fieldset>
</form>